<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>mke-bus-viz | {{ title }}</title>
        <script src="{{ fingerprint.[js/index.js] }}"></script>
        <script>{{& script }}</script>
    </head>
</html>
